#projects{
    background-color: black;
    padding-block: 6rem 8rem;
    color: var(--primary);
    overflow-x: hidden;
}

picture{
    display: block;
    line-height: 0;
}

#projects h2{
    font-size: var(--sec-header);
    padding: 7rem var(--pX) 0;
    margin-block: 2rem;
}

.project-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-inline: var(--pX);
}

.project-card .card{
    border-radius: 0.5rem;
}

.project-card .card .video{
    width: 100%;
    background-color: var(--accent);
    border-radius: 1rem;
    display: grid;
    place-items: center;
    padding-block: 1rem;
}

.project-card .card .video video{
    max-width: 95%;
    max-height: 90%;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
}

.project-card .card .video video:hover{
    transform: scale(1.1);
}

.project-card .card .card-content{
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
}

.project-card .card .card-content .link-card{
    display: flex;
    gap: 1rem;
}

.project-card .card .card-content .link-card{
    display: flex;
    gap: .3rem; 
}

.project-card .card .card-content .link-card a{
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    background-color: var(--secondary);
    padding: 0.3rem;
    border-radius: .5rem;
}

.project-card .card .card-content .link-card a:hover img,
.project-card-toggle .project-exit:hover img{
    transition: var(--trans-300ms) var(--ease-in-out);
    transform: scale(0.9);
    opacity: 0.7;
}

.project-card .card .card-content .link-card a img{
    width: 100%;
    height: 100%;
}


.project-card .card .card-content .title{
    font-size: var(--text-md);
}

.project-card .card .what{
    font-size: var(--text-md);
}



/* toggle */

.bg-project-card-toggle{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: rgba(203, 203, 203, .1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

.project-card-toggle{
    position: fixed;
    z-index: 2000;
    max-width: 80%;
    height: 500px;
    inset: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary);
    color: var(--primary);
    display: flex; /*flex */
    border-radius: 1rem;
}

.project-card-toggle .vid-container{
    width: 100%;
    background-color: var(--accent);
    border-radius: 1rem;
    display: grid;
    place-items: center;
    padding-block: 1rem;
    flex-basis: 60%;
}

.project-card-toggle .vid-container video{
    max-width: 95%;
    max-height: 95%;
    border-radius: 1rem;
    transition: var(--trans-300ms) var(--ease-in-out);
}

/* content */
.project-card-toggle .content{
    flex-basis: 40%;
    padding: 2rem;
}

.project-card-toggle .content .link{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: var(--text-sm);
    color: var(--secondary);
    background-color: var(--primary);
    padding: .3rem .5rem;
    border-radius: .3rem;
    width: max-content;
    margin-block: 1.5rem;
    transition: var(--trans-300ms) var(--ease-in-out);
}

.project-card-toggle .content .link:hover{
    transform: scale(0.98);
    opacity: 0.7;
}

.project-card-toggle .content .link .icon{
    width: var(--text-sm);
    height: var(--text-sm);
    align-self: flex-start;
    padding-top: .1rem;
}

.project-card-toggle .content .description{
    font-size: var(--text-sm);
}

.project-card-toggle .content h2{
    color: var(--primary);
    font-size: var(--text-lg);
    margin-block: 1.5rem .5rem;
}

.project-card-toggle .content .sub-heading{
    font-size: var(--text-sm);
    margin-block: 1.5rem .5rem;
}

.project-card-toggle .content .technologies{
    display: flex;
    gap:1rem;
}

.project-card-toggle .content .tech{
    display: flex;
    gap: 0.5rem;
    color: var(--primary);
}

/* exit */
.project-card-toggle .project-exit{
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 30px;
    width: 30px;
    padding: .5rem;
    border-radius:  50%;
    border: none;
    background-color: var(--primary);
}

.project-card-toggle .project-exit img{
    width: 100%;
}


/* media queries */

@media screen and (max-width: 900px){
   

    .project-card-toggle .vid-container{
        flex-basis: 60%;
    }
    
    .project-card-toggle .vid-container video{
        max-width: 90%;
        max-height: 95%;
        border-radius: 1rem;
    }

    /* content */

    .project-card-toggle .content{
        width: 100%;
        padding: 2rem;
        flex-basis: 60%;
    }

    .project-card-toggle .content .md{
        font-size: var(--text-sm);
    }
    
    .project-card-toggle .content .link{
        font-size: var(--text-x-sm);
        padding: .3rem .3rem;
        border-radius: .3rem;
        width: max-content;
        margin-block: 1rem;
    }
    
    .project-card-toggle .content .description{
        font-size: var(--text-x-sm);
    }
    
    .project-card-toggle .content .sub-heading{
        font-size: var(--text-x-sm);
        margin-block: 1.5rem .5rem;
    }
    
    .project-card-toggle .content .tech{
        display: flex;
        gap: 0.5rem;
        color: var(--primary);
        font-size: var(--text-x-sm);
    }
}

@media screen and (max-width: 768px){

    #projects h2{
        font-size: var(--sec-header);
        padding: 7rem var(--pX) 0;
        margin-block: 2rem;
    }

    #projects .heading{
        text-align: center;
        padding: 0;
    }
    .project-card{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    /* toggle */

     /* toggle */
     .project-card-toggle{
        max-width: 85%;
        height: 95%;
        display: flex; 
        flex-direction: column;
    }

    .project-card-toggle .vid-container{
        height: 40%;
        flex-basis: unset;
        position: relative;
    }
    .project-card-toggle .vid-container video{
        height: 90%;
        position: absolute;
    }
    

    
    /* exit */
    .project-card-toggle .project-exit{
        top: .5rem;
        right: .5rem;
        z-index: 10;
    } 
}


/* slider */

.slider-container{
    position: relative;
    margin-block: 3rem;
}

.slider-container .slider{
    background: black;
    height: var(--height);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        #000000 10% 90%,
        transparent
    );

    mask-image: linear-gradient(
        to right,
        transparent,
        #000000 10% 90%,
        transparent
    );
}

.slider-container .slider .list{
    display: flex;
    width: 1200px;
    position: relative;
}

.slider-container .slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    right: 100%;
    animation: autoRun var(--time) linear infinite;
    animation-delay: calc((var(--time) / var(--quantity)) * (var(--position) - 1) - var(--time))!important;
}

.slider-container .slider .list:hover .item{
    animation-play-state: paused;
}

.slider-container2{
    margin-block: 4rem!important;
}

@keyframes autoRun{
    from{
        right: 100%;
    }                     
    to{
        right: calc(var(--width) * -1);
    }
}

/* for reverse */

.slider-container .slider[reverse="true"] .item{
    animation: reversee var(--time) linear infinite;
}

@keyframes reversee{
    from{
        right: calc(var(--width) * -1);
    } 
    to{
        right: 100%;
    }
}

@media screen and (max-width: 768px){
    .slider-container{
        position: relative;
        margin-block: 0 8rem;
    }

    
}
